body {
    background-color: rgb(167, 8, 8);
    text-align: center;
    margin: 10px;
    font-family: "Quicksand", sans-serif;
    color:black
}

.cap {
    font-style: italic;
}

.img1 {
    width: 50%
}


header  {
    border-bottom: solid 2px    rgb(167, 8, 8); 
    padding: 20px;
    font-size: 32px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row
};

h1 {
      font-size:  250%;
      padding: 2px;
      .categoria-img   image-rendering: {
         opacity 0.5 ;